<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <div class="col-md-6">
  <div class="mb-3">
  <%= f.input :title,
                required: true,
                autofocus: true,
                placeholders: "Post Title"%>
  </div>
    <div class="mb-3">
    <%= f.input :post, label: "Post your Thoughts", input_html: { class: "textarea" }, wrapper: false, label_html: {class: "label"}, required: true, placeholders: "Create a Post..." %>
  </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Create Post", class: "btn-primary" %>
  </div>
<% end %>