<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to 'Member Only', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
      <li class="nav-item">
        <%= link_to 'New Post', new_post_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to current_user.name, edit_user_registration_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Signout', destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to 'Sign In', new_user_session_path, class: "nav-link" %>
      </li>

      <li class="nav-item">
        <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
    <% if flash[:notice] %>
    <div class="alert alert-primary" role="alert">
      <p><%= notice %></p>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert">
      <p><%= alert %></p>
    </div>
    <% end %>
    <br />
    <%= yield %>
  </body>
</html>
